@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --main-bg-color: #f3f4f6;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

.app {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 2em 1em;
  gap: 1em;
  max-width: 1280px;
}

.preview-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1.5;
  background-color: red;
  height: 29.7cm;
  width: 21cm;
}

.edit-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
  background: #fff;
  height: fit-content;
  padding: 1em;
  border-radius: 1em;
}

.edit-preview {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  background-color: var(--main-bg-color);
  border: 2px solid transparent;
  border-radius: 1em;
  padding: 0.5em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
  gap: 0.25em;
}

.form-group > label {
  font-weight: bold;
}

.edit-preview > p > span {
  font-weight: bold;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

button {
  border: none;
  border-radius: 0.25em;
  padding: 0.75em 1em;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.button-remove {
  background-color: red;
}

.button-submit {
  background-color: #187ff5;
}

.button-add {
  background-color: rgb(144, 204, 54);
}
